
// MY THEME COLORS
$pink: #FFB6C1;
$teal: #008080;
$light-pink: #FFECEF;

$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary: $pink;
$secondary: $teal;
$light: $gray-500;
$dark: $gray-600;
$gradient: linear-gradient(to right, $primary 40%, $teal);
$linstep: linear-gradient(to left, $gray-400 40%, $teal);


// IMPORT BOOTSTRAP
@import "Bootstrap";